.calendar_container {
    border: 1px solid #1d759e;
    text-align: center;
    width: 182px;
}

.cal_table {
    width: 100%;
    font-size: 11px;
}

.cal_table_head {
    text-align: center;
    width: 100%;
}

.cal_table .month {
    background-color: #1d759e;
    border-bottom: 1px solid #106892;
    border-top: 1px solid #106892;
    color: #fff;
    font-weight: bold;
    padding: 4px 0;
    text-align: center;
    width: 100%
}

.cal_table .month_arr {
    background-color: #1d759e;
    border-bottom: 1px solid #106892;
    border-top: 1px solid #106892;
    text-align: center
}

.cal_table .month_arr .arr {
    background: url(../images/sprite.svg) 0 -239px no-repeat;
    display: block;
    height: 25px;
    width: 25px
}

/*.is_2x .cal_table .month_arr .arr {*/
/*background-image:url("/images/back_fwd_2x.gif");*/
/*background-size:15px 67px*/
/*}*/
.cal_table .month_arr .arr.left {
    background-position: 0 -239px
}

.cal_table .month_arr .arr.right {
    background-position: 0 -264px
}

.cal_table a.month_arrow:hover {
    color: #dae2e8;
    font: bold 13px Tahoma;
    text-align: center;
    text-decoration: none
}

.cal_table .daysofweek td {
    background-color: #f1f1f1;
    color: #777;
    padding: 5px 0;
    text-align: center;
    width: 26px
}

.cal_table .day {
    background-color: #fff;
    cursor: pointer;
    font-family: Tahoma;
    font-size: 1em;
    padding: 5px 0;
    text-align: center;
    width: 26px
}

.cal_table.disabled .day {
    cursor: auto
}

.cal_table .day.hover {
    background-color: #e1e7ed
}

.cal_table .day.sel,
.cal_table .day.sel.hover {
    background-color: #dae2e8
}

.cal_table .today {
    font-weight: bold
}

.cal_table .past_day {
    color: #999
}

.cal_table .no_month_day {
    background-color: #fff;
    color: #ccc
}

.cal_table .months {
    width: 50%
}

.cal_table a {
    cursor: pointer;
}

.cal_table .nocp {
    cursor: default !important;
}

.times_table {
    background-color: #f1f1f1;
    color: #777;
    padding: 2px 10px 0;
    text-align: center;
    border-top: solid 1px #ccc;
}

.vk .calendar_container {
    border: 1px solid #597da3;
}

.vk .cal_table .month {
    background-color: #597da3;
    border-bottom: 1px solid #4c7097;
    border-top: 1px solid #4c7097;
}

.vk .cal_table .month_arr {
    background-color: #597da3;
    border-bottom: 1px solid #4c7097;
    border-top: 1px solid #4c7097;
}

.cal_month_sel {
    color: #fff !important;
}

.cal_month_sel:hover {
    text-decoration: none
}