.qsearch_container {
    display: -moz-inline-stack;
    display: inline-block;
    _overflow: hidden;
    *zoom: 1;
    *display: inline;
    margin: 10px 14px 0 0;
    position: relative;
    width: 100px;
    float: right
}

.clear:after,
.search_sub_menu .clear:after,
.qsearch_container:after {
    clear: both;
    content: " ";
    display: block;
    font-size: 0;
    height: 0;
    visibility: hidden;
    *zoom: 1
}

.ql.qsearch_container {
    margin: 10px 0 0 14px;
    float: left
}

.qsearch_input {
    color: #777;
    background: #fff;
    border-color: #2b587a #265581 #2b587a #2B587A;
    border-style: solid;
    border-width: 1px;
    font-size: 11px;
    height: 13px;
    outline: medium none;
    padding: 3px 3px 3px 16px;
    position: absolute;
    width: 80px;
    background: url("../images/search_icon_d.gif") 3px -12px no-repeat
}

.is_2x .qsearch_input {
    background-image: url("../images/search_icon_d_2x.png");
    background-size: 11px 27px
}

.search_ext_cont {
    display: none;
    overflow: hidden;
    position: absolute;
    border-color: #2b587a #265581 #2b587a #2B587A;
    border-image: none;
    border-style: solid;
    border-width: 1px
}

.search_cont {
    background-color: #fff;
    height: 19px;
    position: relative
}

.search_input {
    height: 13px;
    font-size: 11px;
    border: 0;
    overflow: hidden;
    outline: 0;
    padding: 3px 0 3px 10px;
    float: left
}

.sil .search_input {
    float: right;
    padding: 3px 10px 3px 0
}

.search_a_menu {
    display: block;
    height: 18px;
    outline: medium none;
    position: relative;
    text-decoration: none;
    float: right
}

.sil .search_a_menu {
    float: left
}

.search_menu_header {
    color: #777;
    display: block;
    float: left;
    height: 13px;
    padding: 2px 4px 4px 0;
    text-align: right;
    font-size: 11px;
    overflow: hidden;
    cursor: pointer
}

.sil .search_menu_header {
    float: right;
    text-align: left;
    padding: 2px 0 4px 4px
}

.search_darr {
    background: url("../images/darr1.png") no-repeat scroll left 4px #fff;
    cursor: pointer;
    display: block;
    float: left;
    height: 13px;
    padding: 3px 0;
    width: 18px;
}

.is_2x .search_darr {
    background-image: url("../images/darr1_2x.png");
    background-size: 39px 37px
}

.sil .search_darr {
    float: left;
    background-position: right 4px
}

.search_a_menu.hover .search_darr {
    background-position: left -22px
}

.sil .search_a_menu.hover .search_darr {
    background-position: right -22px
}

.search_a_menu.hover .search_menu_header {
    color: #000
}

.search_menu {
    background-color: #fff;
    border-left: 1px solid #265581;
    border-right: 1px solid #265581;
    position: absolute;
    right: -1px;
    top: 19px;
    z-index: 100
}

.sil .search_menu {
    right: inherit;
    left: -1px
}

.search_menu a {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    color: #000;
    display: block;
    outline: medium none;
    padding: 2px 0 4px;
    text-align: right;
    text-decoration: none;
    width: 100%;
    font-size: 11px
}

.sil .search_menu a {
    text-align: left
}

.search_menu a span {
    padding-right: 22px
}

.sil .search_menu a span {
    padding-right: inherit;
    padding-left: 22px
}

.search_menu a.selected,
.search_menu a.selected.hover {
    background-color: #e1e8ed;
    border-bottom: 1px solid #ccd5dd;
    border-top: 1px solid #ccd5dd;
    color: #000;
    cursor: default
}

.search_menu a.last {
    border-bottom: 1px solid #265581
}

.search_menu a.hover {
    background-color: #587da1;
    border-bottom: 1px solid #265581;
    border-top: 1px solid #265581;
    color: #fff
}

.search_menu a.last.selected.hover {
    border-bottom: 1px solid #839eb7
}

div.search_shadow1, div.search_shadow2, div.search_shadow_left, div.search_shadow_right1, div.search_shadow_right2 {
    position: absolute;
    width: 100%;
    padding-left: 3px;
    margin-left: -1px;
    z-index: 120;
    background-color: #000;
    height: 1px;
    overflow: hidden;
    opacity: .1;
    filter: alpha(opacity=10)
}

div.search_shadow_left, div.search_shadow_right1, div.search_shadow_right2 {
    height: 100%;
    width: 1px;
    padding: 0;
    margin: 0;
    right: -2px;
    padding-top: 20px;
    top: -20px;
    opacity: .1;
    filter: alpha(opacity=10)
}

div.search_shadow_left {
    right: auto;
    padding: 0;
    top: auto;
    left: -2px;
    opacity: .05;
    filter: alpha(opacity=5)
}

div.search_shadow_right2 {
    right: -3px;
    opacity: .05;
    filter: alpha(opacity=5)
}

div.search_shadow_right {
    right: -3px;
    top: auto;
    opacity: .05;
    filter: alpha(opacity=5)
}

div.search_shadow2 {
    margin-top: 1px;
    opacity: .05;
    filter: alpha(opacity=5)
}

.sil .search_shadow_right2 {
    right: auto;
    left: -2px
}

.sil .search_shadow_right1 {
    right: auto;
    left: -2px
}

.sil .search_shadow_left {
    left: auto;
    right: -2px
}

.search_sub_menu {
    position: absolute;
    margin-top: -1px;
    border: 1px solid #2b587a;
    border-top: 0;
    display: none;
    top: 20px;
    left: -1px;
    z-index: 120
}

.sil .search_sub_menu {
    left: inherit;
    right: -1px
}

.search_sub_menu .sub_item,
.search_sub_menu .sub_item_over,
.search_sub_menu .sub_item_next_over,
.search_sub_menu .sub_item_hint {
    background-color: #fff;
    border-top: 1px solid #e1e9ef;
    color: #000;
    display: block;
    padding: 4px 12px 4px 6px
}

.search_sub_menu .sub_item_over {
    border-top: 1px solid #2a5883;
    background-color: #587da1
}

.search_sub_menu .sub_item_next_over {
    border-top: 1px solid #2a5883
}

#-search_sub_menu .s_search_by {
    font-weight: bold
}

#-search_sub_menu .s_search_by .s_title {
    color: #2b587a
}

#-search_sub_menu .sub_item.s_search_by, #-search_sub_menu .sub_item_next_over.s_search_by {
    background-color: #f7f7f7
}

.search_sub_menu .s_item {
    height: 27px;
    cursor: pointer;
    opacity: .96;
    filter: alpha(opacity=96)
}

.search_sub_menu .sub_item.top {
    border-top: 1px solid #e1e9ef
}

.search_sub_menu .sub_item.s_item_up {
    border-top: 1px solid #cad4dc
}

.search_sub_menu div a.whole {
    display: block;
    color: #000;
    padding-left: 6px;
    text-decoration: none
}

.search_sub_menu div a.whole:hover {
    text-decoration: none
}

.search_sub_menu div.s_photo {
    width: 25px;
    height: 25px;
    overflow: hidden;
    float: left;
    margin: 1px 10px 0 0;
    line-height: 22px
}

.search_sub_menu div.s_photo img {
    width: 25px;
    vertical-align: middle
}

.search_sub_menu div.s_wide_title {
    float: left;
    margin: 0;
    cursor: pointer;
    height: 27px;
    width: 70%;
    overflow: hidden
}

.search_sub_menu div.s_wide_title span {
    background-color: #dae2e8;
    text-decoration: none
}

.search_sub_menu div.s_wide_title div,
.search_sub_menu .s_down_text {
    display: block;
    color: #999;
    font-size: 10px;
    text-decoration: none
}

.search_sub_menu .qs_over .s_wide_title,
.search_sub_menu .qs_over .s_wide_title,
.search_sub_menu .qs_over .s_wide_title div,
.search_sub_menu .qs_over .s_wide_title div {
    color: #FFF
}

.search_sub_menu div.sub_item_over div.s_wide_title span {
    background-color: #2a5883;
    text-decoration: none
}

.search_sub_menu .sub_item_over div.s_wide_title,
.search_sub_menu .sub_item_over a.s_right_text,
.search_sub_menu .sub_item_over a.s_down_text,
.search_sub_menu .qs_over .p_item a.s_down_text,
.search_sub_menu .sub_item_over .s_label,
.search_sub_menu .sub_item_over div.s_wide_title div {
    color: #fff;
    text-decoration: none
}

.search_sub_menu a.s_right_text {
    display: block;
    float: right;
    margin-top: 6px;
    cursor: pointer;
    outline: 0
}

.search_sub_menu .s_item .s_search_icon {
    float: right;
    height: 11px;
    width: 11px;
    overflow: hidden;
    margin-top: 8px;
    background: url(../images/search_small.gif);
    background-position: 0 0
}

.search_sub_menu .sub_item_over .s_search_icon {
    background-position: 0 11px
}

.search_sub_menu .p_item,
.search_sub_menu .p_item_right {
    height: 39px;
    cursor: pointer;
    width: auto;
    background-color: #fff;
    border: 0;
    border-top: 1px solid #ccd3da;
    border-right: 1px solid #ccd3da
}

.search_sub_menu .p_item_right {
    width: 100%;
    border-right: 0
}

.search_sub_menu .qs_over .p_item,
.search_sub_menu .qs_over .p_item_right {
    background-color: #587da1;
    border: 0
}

.search_sub_menu .qs_over {
    border: 1px solid #2a5883
}

.search_sub_menu .qs_over .p_item_right {
    left: 0
}

.search_sub_menu .recent_fr {
    padding: 4px 6px;
    background-color: #e1e8ed;
    border-top: 1px solid #2b587a;
    filter: alpha(opacity=96);
    opacity: .96;
    font-size: 11px;

}

.search_sub_menu .recent_table {
    background-color: #FFF;
    width: 100%;
    filter: alpha(opacity=96);
    opacity: .96;
    padding: 0;
    margin: 0;
    border: 0;
    border-collapse: collapse;
    font-size: 11px;
}

.search_sub_menu .recent_table tr,
.search_sub_menu .recent_table td {
    padding: 0;
    margin: 0;
}

.search_menu .qs_over .s_wide_title {
    color: #fff !important
}

.search_sub_menu div.s_title {
    float: left;
    margin-top: 7px;
    cursor: pointer;
    height: 14px;
    width: 50%;
    overflow: hidden
}

.search_sub_menu .s_down_text {
    display: block;
    float: right;
    margin-top: 6px;
    cursor: pointer;
    outline: 0
}

.search_sub_menu .s_down_text:hover {
    text-decoration: underline
}

.search_sub_menu div.s_title span,
.search_sub_menu .agrm_num {
    float: left;
    height: 14px;
    margin-top: 7px;
    overflow: hidden;
    width: 65px;
    font-weight: bold
}

.search_sub_menu div.sub_item_over div.s_title span {
    text-decoration: none
}

.search_sub_menu .sub_item_over div.s_title,
.search_sub_menu .s_down_text {
    cursor: pointer;
    overflow: hidden;
    color: #2b587a;
    display: block;
    float: left
}

.search_sub_menu .s_label {
    margin-top: 6px;
    outline: 0;
    color: #999
}

.search_sub_menu .sub_item_over .agrm_num,
.search_sub_menu .sub_item_over .s_title {
    color: #fff !important
}
